@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');



.movie_card{
  position: relative;
  display: block;
  width: 85vw;
  height: 80vh;
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;

  .info_section{
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        margin: 0;
        padding: 0;
        color: #fff;
        font-weight: 400;
      }
      h4{
        margin: 0;
        color: #9ac7fa;
        font-weight: 400;
      }

      .minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
      }
      .type{
        margin: 0;
        padding-left: 5px;
        display: flex;
        color: #cee4fd;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 25px;
      height: 50%;
      .text{
        color: #cfd6e1;
      }
    }
    
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
  .button__container{
    position: absolute;
    right: 0;
  }
  .button__close-modal {
    margin:2px;
    flex-shrink: 0;
    display: block;
    font-size: 1rem;
    height: 35px;
    width: 35px;
    font-weight: bold;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.384);
    border: 1px solid #000;
    border-radius: 40px;
    cursor: pointer;
  
    transition: all 0.3s;
  
    &:hover {
      transform: rotate(180deg);
      background-color: #000;
      color: #fff;
    }
  }
}

@media screen and (min-width: 768px) {
  .movie_header{
    width: 60%;
  }
  
  .movie_desc{
    width: 50%;
  }
  
  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .movie_desc{
    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}


#bright{
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }
}



